.modal-container{
    position: fixed;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.034);
    z-index: 1000;
}

.modal{
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 2rem;
    width:30em;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.8);
    
}

.btn{
    border:none;
    color:#fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
    font-size: 1rem;
}

.btn-submit{
    background-color: #42a942;
}

.btn-cancel{
    background-color: #d9534f;
}

.close{
    cursor: pointer;
}

.modal-header{
    display:flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color:#404040
}

.modal-content{
    margin-bottom: 2rem;
    font-size: 0.65rem;
    color: #404040
}

.modal-footer{
    display: flex;
    justify-content: space-evenly;
}